[submodule "Assets/SuperPupStudio"]
	path = Assets/SuperPupStudio
	url = https://github.com/EricWRogers/SPSUnityUtilities.git
[submodule "Assets/OmniCatLabs"]
	path = Assets/OmniCatLabs
	url = https://github.com/BenJLawrence/OmniCatLabs.git
